/* *******************************************************
***************header style goes here******************
******************************************************* */
/* navigation width */
.main-navigation {
    width: 1420px;
    height: 104px;
    margin: auto;
}

/* rounded searcg bar */
input.search_box {
    border-radius: 22px;
}

.theme-switch{

}

/* *******************************************************
***************landing screen style goes here*************
******************************************************* */
section.landing-screen {
    width: 1420px;
    height: 700px;
    margin: auto;
    position: relative;
}

.featured-post-box{
    height: 600px;
    background-image: url("https://source.unsplash.com/1380x600/?blog") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    
}

.landing-post-box {
    height: auto;
    width: 598px;
    padding: 40px;
    border-radius: 12px;
    background-color: white;
    position: absolute;
    bottom: 60px;
    left: 60px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


/* landing page post styling */


span.category {
    background-color: #4B6BFB;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.2rem;
    padding: 4px 10px;
    border-radius: 6px;
}

h2.title-of-post .heading-post-link{
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    font-family: sans-serif;
    margin: 24px 0px 24px 0px;
    margin-top: 16px;
}
.latest-post {
    margin-bottom: 16px;
}

img.author-image {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    border: solid 1px gray;
}

span.post-data.author-of-post {
    border-radius: 36px;
}

span.post-data.name-of-author, span.post-data.post-bublised-date{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5rem;
    color: #97989F;
    margin-left: 8px;
}

span.post-data.post-bublised-date {
margin-left: 16px;}

/* post grid section styling */


section.latest-post-grid {
    width: 1260px;
    margin: auto;
}

h3.post-grid-title, .post-link {
    font-size: 24px;
    line-height: 36px;
    color: black;
    font-weight: 700;

}

.card.col-sm-0.col-md-6.col-lg-4.single-post-box {
    /* height: 442px; */
    border: solid 1px #e8e8ea;
    width: 340px;
    margin: 14px;
}

span#post-category {
    color: #4B6BFB;
    background-color: azure;
}

h2#post-content {
    font-size: 24px;
    line-height: 1.2em;
}

.home-posts-grid {
    flex: 1 0 auto !important;
   
}

.post-thumhnail-box {
    height: 200px;
    background-position: inherit;
    background-size: contain;
    /* background-size: cover; */
    background-repeat: no-repeat;
    background: right;
}
.single-post-box.home-posts-grid.my-3 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 330px;
    margin: 0px 11px;
}


span.post-data.author-of-post {
    height: 55px;
    width: 55px;
    overflow: hidden;
    border: 1px solid black;
    position: relative;
    z-index: 2;
    display: inline-block;
}
span.post-data.author-of-post > img{

position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%

}

a.post-link:hover{
    color: black;
    text-decoration: none
}


.data-of-post {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 1fr;
    width: 100%;
    align-items: center;
    justify-content: start;
}
.card-body.post-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.latest-post-category {
    position: absolute;
    top: 22px;
}


/* footer styling goes here */

    .footer-main {
    width: 1420px;
    margin: auto;
    padding-top: 46px;
}

.footer-inner {
    width: 1260px;
    margin: auto;
}

img.social {
    width: 30px;
    margin: 5px;
}

li.email, li.phone {
    list-style-type: none;
}


p.about {
    font-size: 16px;
    font-family: sans-serif;
    color: black;
    line-height: 1.4em;
}






/* ****************************************************************
***************Responsive css goes here ************************
**************************************************************** */


@media only screen and (min-width: 360px) and (max-width: 767px) {
    /* Your styles for small screens here */
    section.landing-screen , .footer-main, .main-navigation , section.latest-post-grid{
        width: 90%;
        margin: auto;
    }

    .landing-post-box {
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: auto;
    }
    nav.navbar.navbar-expand-lg.navbar-light.bg-white.container-fluid {
        position: relative;
        z-index: 2;
        /* top: 100px; */
    }
    .website-logo img.custom-logo {
        display: inline-block;
        width: 150px;
        height: calc(47px);
    }
    
    .main-navigation {
        height: auto;
    }
    
    h2.title-of-post {
        font-size: 22px;
        line-height: normal;
    }
    
    .landing-post-box {
        padding: 20px;
    }
    
    a.nav-link:hover {
        border-bottom: solid gray 1px ;
    }

    .featured-post-box{
        height: 250px;
}

section.landing-screen{
    height: 550px;
}

img.advertise {
    width: 80%;
}

.advertisement {
    text-align: center;
}

}


/* Medium Screens (768px - 991px): */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Your styles for medium screens here */
    section.landing-screen , .footer-main, .main-navigation , section.latest-post-grid{
        width: 768px;
        margin: auto;
    }

    .landing-post-box {
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }

    img.advertise {
        width: 80%;
    }
    
    .advertisement {
        text-align: center;
    }

}


/* Large Screens (992px - 1199px): */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* Your styles for large screens here */
    section.landing-screen , .footer-main, .main-navigation , section.latest-post-grid{
        width: 992px;
        margin: auto;
    }

    .single-post-box.home-posts-grid.my-3 {
        margin: 0px 4px;
    }

}



/* Extra Large Screens (1200px - 1439px): */
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
    
    /* Your styles for extra-large screens here */


    section.landing-screen , .footer-main, .main-navigation , section.latest-post-grid{
        width: 1200px;
        margin: auto;
    }
}
.featured-post-box {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-inner{
    width: 90%;
    margin: auto;
}


/* Very Large Screens (1440px and above): */
@media only screen and (min-width: 1440px) {
    section.landing-screen , .footer-main , .main-navigation{
        width: 1420px;}
    /* Your styles for very large screens here */
}